<div class="details-card">
    <mat-card>
        <mat-card-title> 
            Buat Data Pengguna Baru
        </mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <!-- Membuat form -->
        <form [formGroup]="form">
            <br>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Nama Depan" formControlName="namaDepan">
                    <!-- Jika input tidak valid, akan muncul peringatan -->
                    <mat-error *ngIf="namaDepan.invalid && namaDepan.touched">
                        Nama depan harus diisi dengan benar!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Nama Belakang" formControlName="namaBelakang">
                    <mat-error *ngIf="namaBelakang.invalid && namaBelakang.touched">
                        Nama belakang harus diisi dengan benar!
                    </mat-error>
                </mat-form-field>

                <!-- Membuat selection gender: Pria atau Wanita -->
                <mat-form-field>
                    <mat-label>Jenis Kelamin</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option *ngFor="let gender of genders" [value]="gender.name">
                            {{ gender.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Umur" formControlName="umur">
                    <mat-error *ngIf="umur.invalid && umur.touched">
                        Umur harus di antara 16-65 tahun!
                    </mat-error>
                </mat-form-field>
                
                <!-- Ceklis jika pengguna aktif -->
                <div>
                    <mat-checkbox class="checkAktif" formControlName="penggunaAktif" color="primary" labelPosition="before">Pengguna Aktif?</mat-checkbox>
                </div>

            </div>

            <!-- Biodata tidak wajib -->
            <mat-form-field class="bio">
                <textarea matInput placeholder="Biodata" formControlName="biodata"></textarea>
            </mat-form-field>
        </form>

        <!-- Melakukan submisi dari component submit-form -->
        <app-submit-form class="submit-button" [formValidity]="form.valid" (successSubmit)="submitForm()"></app-submit-form>
    </mat-card>
</div>